@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #fc7f09;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #e1740e;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--primary-color-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: var(--primary-color-light);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-light);
  color: var(--primary-color-light);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color-light);
}

.logo a span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-left:33px ;
}
.nav__header{
  margin-left: 20px;
}
a{
  text-decoration: none;
}
.logo a{
  font-size: 27px;
  font-weight: 700;
}
.logo span{
  color: var(--text-dark);
}
.nav__links{
  display: flex;
  margin-left: -18px;
  transition: 0.5s;
  z-index: 2;
}
.nav__links li{
  list-style-type: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}
.nav__links a{
  color: var(--text-dark);
}
#nav-links a:hover{
  color: var(--primary-color-light);
}
.logod img{
  width: 50px;
  height: auto;
  cursor: pointer;
}
.logod{
  margin-right: 35px;
  margin-top: -10px;
}
.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 400px;
  margin-inline: auto;
  animation: spin 10s linear infinite ;
}
@keyframes spin {
  to{rotate: -1turn;} 
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color-light);
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__btn {
  text-align: center;
}

.special__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
}

.special__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.special__card {
  background-color: #fc8904;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.3s;
}

.special__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.special__card img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.special__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.special__card p {
    text-align: justify;
  margin-bottom: 0.5rem;
  color: var(--white);
  line-height: 1.75rem;
}

.special__ratings {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}

.special__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.special__footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.explore__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore__image img {
  max-width: 400px;
  margin-inline: auto;
  filter: drop-shadow(0 0 50px rgba(252, 127, 9, 0.4));
}

.explore__content .section__description {
  margin-bottom: 2rem;
}

.explore__btn {
  text-align: center;
}

.banner__container {
  display: grid;
  gap: 1rem;
}

.banner__card {
  background-color: #fc8904;
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  transition: 0.3s;
}

.banner__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.banner__card .banner__icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.banner__card:nth-child(1) .banner__icon {
  background-color: #62b15c;
  box-shadow: 5px 5px 30px #62b15cd0;
}

.banner__card:nth-child(2) .banner__icon {
  background-color: #ff3e67;
  box-shadow: 5px 5px 30px #ff3e67d0;
}

.banner__card:nth-child(3) .banner__icon {
  background-color: #185adb;
  box-shadow: 5px 5px 30px #185adbd0;
}

.banner__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.banner__card p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.banner__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 500;
  color: var(--primary-color-light);
}

.banner__card a span {
  font-size: 1.25rem;
  transition: 0.3s;
}

.banner__card a:hover span {
  transform: translateX(10px);
}

.footer {
  background-color: var(--primary-color-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col .section__description {
  text-align: left;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 0.75rem;
}

.footer__links a {
  color: var(--text-dark);
}

.footer__links a:hover {
  color: var(--primary-color-light);
}
@media (width > 540px) {
  .special__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (width > 768px) {
  
  .header__container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .header__content h1,
  .header__content .section__description,
  .header__btn {
    text-align: left;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .special__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .explore__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .explore__content .section__header {
    max-width: 500px;
  }

  .explore__content :is(.section__header, .section__description),
  .explore__btn {
    text-align: left;
  }

  .banner__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .chef__bg {
    max-width: 300px;
  }

  .chef__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .chef__image {
    grid-area: 1/2/2/3;
  }

  .chef__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .chef__list li {
    justify-content: flex-start;
  }

  .client__swiper {
    padding: 3rem 2rem;
  }

  .footer__container {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}

@media (width > 1024px) {
  .special__grid {
    gap: 2rem;
  }

  .special__card {
    padding: 2rem;
    border-radius: 3rem;
  }

  .banner__container {
    gap: 2rem;
  }

  .chef__bg {
    max-width: 375px;
  }
}
